*{
    margin: 0;
    padding: 0;
}
/* NAV Y MENU DESPLEGABLE */
nav {
    background-color: #1c1b24;
}
.menu {
    background-color: #1c1b24;
}
.menu a:hover {
    background-color: rgb(122, 119, 119)
}

/* BODY */
body {
    background-color: #282a2b;
}
/* NO HAY RESULTADO */
.resultado2 {
    display: flex;
    position: absolute;
    margin: 6% 40% 0 40%;
    color: white;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
#resultado {
    display: none;
}
/* CONTENEDOR ITEMS ENCONTRADOS */
section {
    margin-top: 50px;
    min-height: 100vh;
}

/* FOOTER */
footer {
    background-color: #1c1b24;
}